body {
    background-image: url(../img/pimenton.jpg);
    color: white;
}

#texto {
    margin: 0;
}

#texto h1 {
    margin: .8em;
}

section h1 {
    margin: .8em;
}

.grid-etapas h1 {
    text-align: center;
}

.boton__submit {
    display: block;
    margin: 2% auto;
}

.grid-item ul {
    text-align: center;
    /* padding-top: 10%; */
    list-style: none;
}

.logo-home {
    position: absolute;
    max-width: 70px;
    width: 100%;
    /* max-height: 30px;
    height: 100%; */
    text-align: center;
}

#menu {
    background-color: rgb(50, 51, 48);
    padding: 8px;
    /* margin: 0; */
}

#menu ul li {
    display: inline-block;
    margin-left: 16.5em;
    transition: 0.5s;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    /* margin: 1em 2em; */
}

#menu ul li:HOVER {
    transform: translate(10px, 10px);
}

/* .grid-submenu{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
} */

.grid-submenu p {
    margin: 0;
}

.grid-submenu .box-opcion {
    border-radius: 20px;
}

/* .grid-etapas{
    display: grid;
    margin: 10px;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
} */

.grid-item {
    background-color: rgb(50, 51, 48);
    padding: 1em;
    border-radius: 20px;
    justify-content: center;
}

.grid-etapas {
    min-height: 500px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

#container1 {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 3 1 60%;
    flex: 1 1;
    -webkit-order: 1;
    order: 1;
}

#container2 {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 20%;
    flex: 1 6;
    -webkit-order: 2;
    order: 2;
}

#container3 {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 20%;
    flex: 1 6;
    -webkit-order: 3;
    order: 3;
}

#menu,
footer {
    display: block;
}

#respuesta {
    background: rgb(50, 51, 48);
    margin: 5px auto;
    padding: 6px;
    border-radius: 9px;
}

.rol {
    width: 100%;
}

/* ESTILOS PARA RADIO BUTTON */
.grid-etapas input[type="radio"] {
    display: none;
}

.grid-etapas label {
    color: rgb(252, 249, 255);
    padding: 5px 15px 5px 38px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.grid-etapas label:hover {
    background: rgba(250, 247, 247, 0.295);
}

.grid-etapas label::before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    /* margin-top: 2%; */
    background: none;
    border: 3px solid rgb(252, 249, 255);
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 34%;
}

.grid-etapas input[type="radio"]:checked+label {
    padding: 5px 15px;
    background: white;
    border-radius: 2px;
    color: rgb(50, 51, 48);
}

.grid-etapas input[type="radio"]:checked+label:before {
    display: none;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 85%;
    margin: 0px auto;
}

th {
    background: rgb(50, 51, 48);
    border-top: 4px solid #1a1919;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
}

td {
    background: #515152;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #797a81;
    color: rgb(255, 255, 255);
}

.formulario {
    margin: 0px auto;
    background: rgb(50, 51, 48);
    padding: 1%;
    margin-top: 5%;
    border-radius: 10px;
    text-align: center;
}

@media all and (max-width: 640px) {

    .grid-etapas {
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    #container1,
    #container2,
    #container3 {
        /* Return them to document order */
        -webkit-order: 0;
        order: 0;
    }

    #container1,
    #container2,
    #container3 {
        min-height: 100px;
        max-height: 400px;
    }

    footer,
    #menu {
        min-height: 50px;
        max-height: 50px;
    }

    .grid-etapas label::before {
        top: 25%;
    }

    table {
        margin-left: 1%;
        margin-right: 1%;
    }
}



