*{
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-image: url(../img/bg-ajvar01.jpg);
}

h1{
    font-family: 'Playfair Display SC', serif, Arial, Helvetica, sans-serif;
    font-size: 3.2em;
}

h2{
    font-family: 'Kaushan Script', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

ul{
    margin: 0;
    padding: 0;
    padding-top: 10%;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;    
}

.btn{
    border-radius: 40px;
    border: solid 10px;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.btn-verde{
    background-color: #107920;
    border-color: rgba(16, 148, 36, 0.5);
    transition: background-color 1s;
}

.btn-verde:HOVER{
    background-color: #36D94F;
}


/* #main-container #main-section{
    background-image: url(../img/bg-ajvar01.jpg);
    background-position: center center;
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 50px;
} */

/* #main-container #main-section-login{
    background-image: url(../img/bg-ajvar02.jpg);
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    padding: 50px;
} */


/* #main-container #logo #back{
    padding: 25px 0;
}

#main-container #logo #back a{
    color: white;
    text-decoration: none;
}

#main-container #logo #back a:hover{
    color: white;
    text-decoration: underline;
} */

#main-container #main-section #menu{
    text-align: center;
}

#main-container #main-section #menu ul li{
    margin: 100px 50px;
    height: 100px;
    max-width: 270px;
    width: 90%;
    overflow: hidden;

    transition: all 1s; 
}



#main-container #main-section #menu ul li:hover{
    height: 320px;
    margin-top: -2em;
}

#main-container #main-section #menu ul li a{
    color: white;
    text-decoration: none;
    height: 100px;
}

#main-container #main-section #menu ul li:hover > div a h2{
    opacity: 1;
    margin-top: -.8em;
}

#main-container #main-section #menu ul li a h2{
    font-size: 2em;
}

#main-container #main-section #menu ul li a h2{
    font-size: 2em;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.1s;
}



